---
# GCP Security credentials
service_account_email: SERVICE_ACCOUNT_EMAIL
credentials_file: security/client_secrets.json
project_id: PROJECT_ID

# User attributes
username: GCP_INSTANCE_USERNAME
email: GCP_EMAIL_ADDRESS
password: NOVNC_PASSWORD
