[program:novnc]
priority=25
directory=/noVNC
command=/noVNC/utils/launch.sh --listen {{ novnc_port | default(6080) }} --vnc localhost:{{ vnc_port | default(5901) }} --cert {{ nginx_ssl_certificate_key }}
user=root
autostart=true
autorestart=true
stopsignal=QUIT
stdout_logfile=/var/log/novnc.log
redirect_stderr=true
stopasgroup=true

